.viewSpots__page > h1 {
  height:2em ;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.viewSpots__imageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  row-gap: 0.5em;
  position: relative;
  column-gap: 0.5em;
}

.viewSpots__cardContainer {
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;;
  flex-direction: column;
  filter: grayscale();
  position: relative;
}

.viewSpots__image {
  display: flex;
  height: 35vh;
  filter: grayscale(100%);
  width: 35vw;
  flex-direction: column;
}

.viewSpots__infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
  /* bottom: 0; */
  align-items: center;
  width: 100%;
  text-align: center;
  align-items: center;
  height: 100%;
  color: white;
  /* top: 7em; */
  position: absolute;
}

.viewSpots__label {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
}

.viewSpots__infoContainer > h2 {
  position: relative;
  top: 1em;
}

.viewSpots__edit:hover {
  cursor: pointer;
}

.viewSpots__cardContainer:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition-duration: 250ms;
}

.viewSpots__page > h1 {
  display: flex;
  justify-content: center;
}

.viewSpots__cardContainer:hover {
  filter: none;
}
