.containerReview {
    display: flex;
;
}


.comments {
/* display: flex;
    justify-content: center;
    align-items: center; */
    width: 20em;
    margin-left: 18%;
    text-align: center;
}

.tokyoPic {
    display: flex;
    width: 150%;

}

.editbuttonForReview, .deleteButtonForReview, .editReviewBtn {

    margin-left: 10px;
    border-radius: 999px;
    height: 30px;
    width:100px;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: lightcoral;
}

.editbuttonForReview:hover, .deleteButtonForReview:hover, .editReviewBtn:hover {

    cursor: pointer;
    background-color: white;
    color: lightcoral;
    transition-duration: 250ms;
}
