
.contain {
}


.locPic {
    display: flex;
    width:100%;
    height: 100%;
    /* border-radius: 50px 0px 0px 50px; */
    border-radius: 50px;
}

.lists {
    height: 500px;
    margin-bottom: -170px;;
}

.tester {
    display: flex;
    height:300px;
    border: solid lightgrey;
    border-radius: 50px;;
    background-color: rgb(255, 254, 254);

}

.imageLinkBar {
    width: 35%;
    border: 3px solid lightgrey;
    padding: 0px;
    border-radius: 50px;
}
.recs {
    font-weight: bold;
    font-size: 45px
}

.navigateAdd {
    display: flex;
    background-color: white;
    box-shadow: 0px 10px 15px -8px rgb(238, 237, 237);
    height: 85px;
    width: 100%;
    /* margin: auto; */

    position: sticky;
    color: black;
    justify-content: space-evenly;;
}

.addBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.addBtn:hover {
    cursor: pointer;
    background-color: white;
    color: lightcoral;
    transition-duration: 250ms;
}

.editBtn:hover {
    cursor: pointer;
    cursor: pointer;
    background-color: white;
    color: lightcoral;
    transform: scale(1.05);
    transition-duration: 250ms;
}

.deleteButton:hover {
    cursor: pointer;
    background-color: white;
    color: lightcoral;
    transform: scale(1.05);
    transition-duration: 250ms;
}

.tester {
    display: flex;
}

.p {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 18%;
}

.buttonsEditandDelete {


}

.editBtn {
    margin-top: 10%;
    margin-left: 10px;
    border-radius: 999px;
    height: 30px;
    width:100px;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: lightcoral;
}

.deleteButton {
    margin-top: 10%;
    margin-left: 10px;
    border-radius: 999px;
    height: 30px;
    width:100px;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: lightcoral;
}

.nameBar {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.priceBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.addressBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cityBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.countryBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stateBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addForm {
    z-index: 100;
    position: fixed;
}
