.createSpot {
  display: flex;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.createSpot__left {
  display: flex;
  flex: 0.5;
  background-color: lightpink;
}

.createSpot__right {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  /* background-color: lightgreen ; */
}

.createSpot__form {

  height: fit-content;
}
