#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  display: flex;
  position: relative;
  max-width: 100%;
  background-color: rgb(254, 254, 254);
  border-radius: 10px;
  /* margin-top: 5%; */
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 20vw;
  height: 50vh;
}
