.notFoundContained {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    filter: blur(0px);
    background-color: lightcoral;
}

.pagenotfoudn {
    display: flex;
    margin-bottom: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFOundTitle {
    z-index: 200;
}
