.viewOne__page {
    display: flex;
    height: 100%;
    position: absolute;
    flex-direction: column;
    width: 100%;
}

.fa-grip-dots {

}

.viewOne__moreButton {
    background-color: beige;
    z-index: 10;
    width: 2em;
    height: 2em;
    background-color: transparent;
}
