.locPic {
    display: flex;
    width: 30%;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
}

.lists {
    height: 500px;
    margin-bottom: -170px;;
}

.nameBar {
    position: relative;
    text-align: center;
    bottom: 150px;
}

.addressBar {
    position: relative;
    text-align: center;
    bottom: 150px;
}

.cityBar {
    position: relative;
    text-align: center;
    bottom: 140px;
}

.stateBar {
    position: relative;
    text-align: center;
    bottom: 140px;
}

.priceBar {
    position: relative;
    text-align: center;
    bottom: 140px;
}

.tester {
    display: flex;
    height:300px;
    border: solid lightgrey;
    border-radius: 50px;
}

.recs {
    font-weight: bold;
    font-size: 50px;
}

.navigateAdd {
    display: flex;
    background-color: white;
    box-shadow: 0px 10px 15px -8px rgb(238, 237, 237);
    height: 85px;
    width: 100%;
    margin: auto;
    position: sticky;
    color: black;
    justify-content: space-evenly;
}

.addBtn:hover {
    cursor: pointer;
}

.editBtn:hover {
    cursor: pointer;
}

.tester {
    display: flex;
}

.editBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
    margin-top: 3%;

}
