/* TODO Add site wide styles */
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;
}
* {
  /* font-family: Trebuchet MS,Lucida Sans Unicode,Lucida Grande,Lucida Sans,Arial,sans-serif; */
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: whitesmoke;
}
