.where {
    display: flex;
    font-size: 400%;
    margin-left: 450px;
}

.cards {
    display: flex;
    justify-content: space-evenly
}
.card1 {
    /* border: black solid; */
    padding-top: 36.73vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 250px;
    border-radius: 25px;
    height: 15px;
    background: url(https://wallpapercave.com/wp/wp1865855.jpg) bottom ;
}
.card2 {
    /* border: black solid; */
    padding-top: 36.73vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 250px;
    border-radius: 25px;
    height: 15px;
    background: url(https://wallpapercave.com/wp/wp5523083.jpg) bottom ;
}
.card3 {
    /* border: black solid; */
    padding-top: 36.73vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 250px;
    border-radius: 25px;
    height: 15px;
    background: url(https://images.unsplash.com/photo-1564594736624-def7a10ab047?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) center ;
}
.card4 {
    /* border: black solid; */
    padding-top: 36.73vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 250px;
    border-radius: 25px;
    height: 15px;
    background: url(https://images.unsplash.com/photo-1551641506-ee5bf4cb45f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1768&q=80) center;
}

.card1 > h2 {
    display: flex;
    position: relative;
    color: white;
    font-size: 250%;
    align-items: center;
    justify-content: center;
    margin-top: -230px;

}
.card2 > h2 {
    display: flex;
    position: relative;
    color: white;
    font-size: 250%;
    align-items: center;
    justify-content: center;
    margin-top: -230px;

}
.card3 > h2 {
    display: flex;
    position: relative;
    color: white;
    font-size: 250%;
    align-items: center;
    justify-content: center;
    margin-top: -230px;

}
.card4 > h2 {
    display: flex;
    position: relative;
    color: white;
    font-size: 250%;
    align-items: center;
    justify-content: center;
    margin-top: -230px;

}

.card1:hover{
    transform: scale(1.05);
    transition-duration: 250ms;
    border: solid lightgray;
}

.card2:hover{
    transform: scale(1.05);
    transition-duration: 250ms;
    border: solid lightgray;

}

.card3:hover{
    transform: scale(1.05);
    transition-duration: 250ms;
    border: solid lightgray;

}

.card4:hover{
    transform: scale(1.05);
    transition-duration: 250ms;
    border: solid lightgray;

}
