.login_form {
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  font-weight: bolder;
  font-size: 150%;
  top: 20px;
  margin-left: 5%;
}

.user,
.password {
  display: flex;
  margin-bottom: 4;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  height: 2em;
  width: 14em;
  outline: none;
  border: 1px solid lightgray;
}

.inputs {
  margin-top: 16vh;
}

.submit {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 999px;
  background-color: lightcoral;
  outline: none;
  /* width: 15%; */
  height: 2em;
  border: 1px solid lightgray;
}

.submit:hover {
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  color: lightcoral;
  transform: scale(1.05);
  transition-duration: 250ms;
}

::placeholder {
  text-align: center;
}

#demo_button {
  background: none;
  border: none;
  cursor: pointer;
}

.login__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
}

.login__loginButton {
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  width: 5em;
  height: 2em;
  border: solid antiquewhite;
  border-radius: 999px;
}

.login__loginButton:hover {
  background-color: rgb(230, 230, 230);
  border: none;
  cursor: pointer;
  color: white;
  transition-duration: 250ms;
}
