
.banner {
    display: flex;
    position: absolute;
    background: url("https://wallpapercave.com/wp/wp3990914.jpg") center center;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* border-radius: 25px; */
    left: 0;

}

.sidebar {
    display: flex;
    position: relative;
    background-color: black;
    color: white;
    padding-top: 36.73vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
    /* border-radius: 25px; */
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 10vh;
    left: .2em;
}

.away {
    /* margin-top: 10%;
    margin-left: 10px; */
    margin: auto;
    /* display: flex; */
    text-align: center;
    position: relative;
    border-radius: 999px;
    height: 60px;
    width:250px;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: lightcoral;
}

.away:hover {
    cursor: pointer;
    background-color: white;
    color: lightcoral;
    transform: scale(1.05);
    transition-duration: 250ms;
}

.info > h1 {
    position: relative;
    top: 1em ;
}
